body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  padding: 30px;
}

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 12px;
  margin: 0 2px;
  padding: 0 5px;
}

h1, h2, h3, h4 {
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h1 {
  border-bottom: 1px solid #ddd;
  font-size: 2.5em;
}

h2 {
  border-bottom: 1px solid #eee;
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

p, ul {
  margin: 15px 0;
}

ul {
  padding-left: 30px;
}

.form-control {
  width: 50%;
  text-align: center;
  vertical-align: center;
 
}

::-webkit-input-placeholder {
  vertical-align: center; 
    text-align: center;
}

:-moz-placeholder {
  vertical-align: center;  
    text-align: center;
}

::-moz-placeholder {
  vertical-align: center;
    text-align: center;
}

:-ms-input-placeholder {
  vertical-align: center;
    text-align: center;
}

img {
  margin: auto;
  width: 100%;
}

input.form-control {
  /*-webkit-border-radius: 50px;
  -moz-border-radius: 50px;*/
  border-radius: 50px;
  white-space: pre-line;
  overflow-y: hidden;
  border-width: 5px;
  outline: none;
}

textarea.form-control {
  /*-webkit-border-radius: 50px;
  -moz-border-radius: 50px;*/
  border-radius: 50px;
  white-space: pre-line;
  overflow-y: hidden;
  padding-top: 70px;
  border-width: 5px;
  outline: none;  
}

button {
  width: 50%;
  margin-bottom: 2cm;
}

.content {
  width:  100%;
  background-color: white;
}


pre.content {
  width: 100;
  background-color: seashell;
  display: inline-block;
  overflow-wrap: break-word;
  word-wrap: break-word;
  line-break: strict;
  hyphens: none;
  -webkit-hyphens: none;
  -moz-hyphens: none;
}

.name {
  text-decoration: overline;
  border-bottom: 1px solid #000;

}


html { 
  -ms-word-break: break-all; 
  word-break: break-all; 
  word-break: break-word; /* old webkit */ 
}